# Postgres / ETL
DB_HOST=<db_host>
DB_PORT=<db_port>
DB_NAME=<db_name>
DB_USER=<db_user>
DB_PASS=<db_password>

# Open-Meteo API
OPEN_METEO_BASE_URL=<open_meteo_base_url>
OPEN_METEO_HOURLY_PARAMS=temperature_2m,relative_humidity_2m,precipitation,dew_point_2m,shortwave_radiation,wind_speed_10m,vapour_pressure_deficit,et0_fao_evapotranspiration
OPEN_METEO_TIMEOUT_SECONDS=<timeout_seconds>
OPEN_METEO_TIMEZONE=<timezone>
OPEN_METEO_CITIES_JSON={"city_1":{"lat":0.0,"lon":0.0},"city_2":{"lat":0.0,"lon":0.0}}

# Docker / Airflow
POSTGRES_USER=<postgres_user>
POSTGRES_PASSWORD=<postgres_password>
POSTGRES_DB=<postgres_db>
TIMEZONE=<timezone>
PYTHONPATH=<python_path>
DBT_PROJECT_DIR=<dbt_project_dir>
AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=<airflow_sqlalchemy_conn>
AIRFLOW_ADMIN_USERNAME=<airflow_admin_username>
AIRFLOW_ADMIN_PASSWORD=<airflow_admin_password>
AIRFLOW_ADMIN_FIRSTNAME=<airflow_admin_firstname>
AIRFLOW_ADMIN_LASTNAME=<airflow_admin_lastname>
AIRFLOW_ADMIN_EMAIL=<airflow_admin_email>